.imageSlider {
  /* this contains the slider  */
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;

  /* this needs to be commneted out but need to be kept so that i can tweak it */
  /* border: 2px solid red; */
}

.slick-slider {
  /* this has the search slider  */
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;

  /* this needs to be commneted out but need to be kept so that i can tweak it */
  /* border: 2px solid white; */
}

.eachCard {
  width: 300px;
  min-height: 350px;
  overflow: hidden;
  position: relative;

  /* this needs to be commneted out but need to be kept so that i can tweak it */
  /* border: 2px solid orangered; */
}

.imageCard {
  /* border: 2px solid white; */
  border-radius: 14px;
  width: 300px;
  max-height: 445px;
  overflow: hidden;
  position: relative;

  /* this needs to be commneted out but need to be kept so that i can tweak it */
  /* border: 2px solid orange; */
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textData {
  margin: 12px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
}

.slick-track {
  height: 547px;
}

.titleData {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 19px;
}

.date {
  color: white;
  font-size: 19px;
}
/* for skeleton animation */
.skeletonItem {
  display: flex;
  width: 300px;
}
.posterBlock {
  display: flex;
  border-radius: 12px;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  margin-bottom: 30px;
}
.loadingSkeleton {
  margin-top: 12px;
  display: flex;
  gap: 30px;
}
